<div class="records-container">

  <div class="records-header">
    <h2>Gestión de Actividades</h2>

    <button class="btn-primary" (click)="goToCreate()">
      Crear Actividad
    </button>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Buscar por descripción..." [(ngModel)]="search" (input)="applyFilter()" />
  </div>

  <!-- EMPTY STATE -->
  <div *ngIf="!loading && paginatedActivities.length === 0" class="empty-state">
    <p>No hay actividades disponibles.</p>
  </div>

  <!-- TABLE -->
  <div *ngIf="!loading && paginatedActivities.length > 0" class="table-wrapper">

    <table class="custom-table">

      <thead>
        <tr>

          <th (click)="sortBy('description')" class="sortable">
            Descripción
            <span *ngIf="sortColumn === 'description'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>

          <th (click)="sortBy('strategy_id')" class="sortable">
            Estrategia
            <span *ngIf="sortColumn === 'strategy_id'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>

          <th (click)="sortBy('active')" class="sortable">
            Estado
            <span *ngIf="sortColumn === 'active'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>

          <th class="text-center">Acciones</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let a of paginatedActivities">

          <td>{{ a.description }}</td>

          <td>
            {{ strategyMap[a.strategy_id] || 'N/A' }}
          </td>

          <td>
            <span class="state-badge" [class.active]="a.active" [class.inactive]="!a.active">
              {{ a.active ? 'Activo' : 'Inactivo' }}
            </span>
          </td>

          <td class="actions-col">
            <button class="btn-outline-primary" (click)="goToEdit(a.id)">
              Editar
            </button>

            <button class="btn-outline-danger" (click)="deleteActivity(a.id)">
              Eliminar
            </button>
          </td>

        </tr>
      </tbody>

    </table>

    <!-- PAGINACIÓN -->
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="currentPage = $event">
    </app-pagination>


  </div>

</div>