<div class="sidebar" [class.open]="isOpen">
  <h3 class="sidebar-title">Menú</h3>

  <div class="sidebar-user" *ngIf="user">

    <div class="sidebar-user-avatar">
      {{ user.name.charAt(0) }}
    </div>

    <div class="sidebar-user-data">
      <p class="user-name">{{ user.name }}</p>
      <p class="user-role">{{ user.role?.name }}</p>
    </div>

  </div>


  <nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="dashboard/records" routerLinkActive="active">Informes</a>

    <a *ngIf="!isEditor && !isViewer" routerLink="dashboard/strategies" routerLinkActive="active">
      Estrategias
    </a>

    <a *ngIf="!isEditor && !isViewer" routerLink="dashboard/activities" routerLinkActive="active">
      Actividades
    </a>

    <a *ngIf="!isEditor && !isViewer" routerLink="dashboard/components" routerLinkActive="active">
      Componentes Estratégicos
    </a>

    <a *ngIf="!isEditor && !isViewer" routerLink="dashboard/indicators" routerLinkActive="active">
      Indicadores
    </a>

    <a *ngIf="!isEditor && !isViewer" routerLink="dashboard/users" routerLinkActive="active">
      Usuarios
    </a>
  </nav>

</div>

<!-- Overlay para móviles -->
<div class="overlay" *ngIf="isOpen" (click)="closeSidebar()"></div>