<div class="sidebar" [class.open]="isOpen">
  <h3 class="sidebar-title">Menú</h3>

  <nav>
    <a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="dashboard/records" routerLinxkActive="active">Registros</a>
    <a routerLink="dashboard/components" routerLinkActive="active">Componentes</a>
    <a routerLink="dashboard/indicators" routerLinkActive="active">Indicadores</a>
    <a routerLink="dashboard/users" routerLinkActive="active">Usuarios</a>
  </nav>
</div>

<!-- Overlay para móviles -->
<div class="overlay" *ngIf="isOpen" (click)="closeSidebar()"></div>