.active-nav-item {
    background: rgba(255, 255, 255, 0.13) !important;
    color: white !important;
}

.active-child-item {
    background: rgba(255, 255, 255, 0.1) !important;
    color: white !important;
}