<div class="records-container">

  <!-- Header -->
  <div class="records-header">
    <h2>Gestión de Usuarios</h2>

    <button class="btn-primary" (click)="goCreate()">
      Crear Usuario
    </button>
  </div>

  <!-- Buscador -->
  <div class="search-box">
    <input type="text" placeholder="Buscar por nombre, correo o rol..." [(ngModel)]="search" (input)="applyFilter()">
  </div>

  <!-- Loading -->
  <div class="loading-box" *ngIf="loading">
    <div class="spinner"></div>
  </div>

  <!-- Tabla -->
  <div *ngIf="!loading" class="table-wrapper">

    <table class="custom-table">

      <thead>
        <tr>
          <th (click)="sortBy('name')" class="sortable">
            Nombre
            <span *ngIf="sortColumn === 'name'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>

          <th (click)="sortBy('email')" class="sortable">
            Email
            <span *ngIf="sortColumn === 'email'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>

          <th (click)="sortBy('role')" class="sortable">
            Rol
            <span *ngIf="sortColumn === 'role'">
              {{ sortDirection === 'asc' ? '▲' : '▼' }}
            </span>
          </th>

          <th class="text-center">Acciones</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let u of paginatedUsers">

          <td>{{ u.name }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.role?.name }}</td>

          <td class="actions-col">

            <!-- Editar -->
            <button class="btn-outline-primary" (click)="goEdit(u.id)">
              Editar
            </button>

            <!-- Eliminar -->
            <button class="btn-outline-danger" (click)="deleteUser(u.id)">
              Eliminar
            </button>


          </td>

        </tr>
      </tbody>

    </table>

    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="currentPage = $event">
    </app-pagination>




  </div>

</div>