<div class="container-fluid">

  <h3>Detalle de Usuario</h3>

  <div *ngIf="loading" class="my-5 text-center">
    <div class="spinner-border text-primary"></div>
  </div>

  <div *ngIf="!loading" class="card p-3">

    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Nombre:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Rol:</strong> {{ user.role_id }}</p>

    <button class="btn btn-secondary mt-3" routerLink="/users">
      Volver
    </button>
  </div>

</div>