<div class="component-form-container form-container">

  <h2 class="page-title">
    {{ isEdit ? "Editar Componente" : "Crear Componente" }}
  </h2>

  <div *ngIf="loading" class="loading-box">
    <div class="spinner"></div>
  </div>

  <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-section">

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" formControlName="name" placeholder="Nombre del componente">
      </div>

      <div class="form-group full">
        <label>Descripción</label>
        <textarea rows="3" formControlName="description" placeholder="Descripción del componente"></textarea>
      </div>

      <div class="form-group">
        <label>Activo</label>
        <label class="switch">
          <input type="checkbox" formControlName="active">
          <span class="slider"></span>
        </label>
      </div>

    </div>

    <div class="form-actions">
      <button class="btn-primary" [disabled]="saving || form.invalid">
        {{ saving ? "Guardando..." : (isEdit ? "Actualizar" : "Crear Componente") }}
      </button>

      <button type="button" class="btn-secondary-custom" [routerLink]="['/dashboard/components']">
        Cancelar
      </button>
    </div>

  </form>

</div>