<div class="component-form-container form-container">

    <h2 class="page-title">
        {{ isEdit ? "Editar Actividad" : "Crear Actividad" }}
    </h2>

    <!-- LOADING -->
    <div *ngIf="loading" class="loading-box">
        <div class="spinner"></div>
    </div>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-section">

            <!-- Estrategia -->
            <div class="form-group">
                <label>Estrategia</label>

                <select 
                    formControlName="strategy_id"
                    [class.invalid]="showError('strategy_id')">

                    <option value="">Seleccionar estrategia...</option>

                    <option *ngFor="let s of strategies" [value]="s.id">
                        {{ s.name }}
                    </option>

                </select>

                <div class="error-message" *ngIf="showError('strategy_id')">
                    La estrategia es obligatoria.
                </div>
            </div>

            <!-- Descripción -->
            <div class="form-group full">
                <label>Descripción</label>

                <textarea 
                    rows="3"
                    formControlName="description"
                    placeholder="Descripción de la actividad"
                    [class.invalid]="showError('description')"
                ></textarea>

                <div class="error-message" *ngIf="showError('description')">
                    <span *ngIf="form.get('description')?.errors?.['required']">
                        La descripción es obligatoria.
                    </span>
                    <span *ngIf="form.get('description')?.errors?.['minlength']">
                        Debe tener mínimo 3 caracteres.
                    </span>
                </div>
            </div>

            <!-- Activo -->
            <div class="form-group">
                <label>Activo</label>
                <label class="switch">
                    <input type="checkbox" formControlName="active">
                    <span class="slider"></span>
                </label>
            </div>

        </div>

        <!-- BOTONES -->
        <div class="form-actions">
            <button class="btn-primary" [disabled]="saving || form.invalid">
                {{ saving ? "Guardando..." : (isEdit ? "Actualizar Actividad" : "Crear Actividad") }}
            </button>

            <button type="button" class="btn-secondary-custom" [routerLink]="['/records/activities']">
                Cancelar
            </button>
        </div>

    </form>

</div>
