@import 'ngx-toastr/toastr.css';

@import './styles/base.css';
@import './styles/buttons.css';
@import './styles/tables.css';
@import './styles/forms.css';
@import './styles/components.css';
@import './styles/utils.css';
