<div class="component-form-container form-container">

  <h2 class="page-title">
    {{ isEdit ? "Editar Estrategia" : "Crear Estrategia" }}
  </h2>

  <!-- LOADING -->
  <div *ngIf="loading" class="loading-box">
    <div class="spinner"></div>
  </div>

  <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-section">

      <!-- Nombre -->
      <div class="form-group">
        <label>Nombre</label>
        <input 
          type="text"
          formControlName="name"
          placeholder="Nombre de la estrategia"
          [class.invalid]="showError('name')"
        >

        <!-- Mensajes de error -->
        <div class="error-message" *ngIf="showError('name')">
          <span *ngIf="form.get('name')?.errors?.['required']">
            El nombre es obligatorio.
          </span>
          <span *ngIf="form.get('name')?.errors?.['minlength']">
            Debe tener mínimo 3 caracteres.
          </span>
        </div>
      </div>

      <!-- Descripción -->
      <div class="form-group full">
        <label>Descripción</label>
        <textarea 
          rows="3"
          formControlName="description"
          placeholder="Descripción de la estrategia"
        ></textarea>
      </div>

      <!-- Activo -->
      <div class="form-group">
        <label>Activo</label>
        <label class="switch">
          <input type="checkbox" formControlName="active">
          <span class="slider"></span>
        </label>
      </div>

    </div>

    <!-- BOTONES -->
    <div class="form-actions">
      <button class="btn-primary" [disabled]="saving || form.invalid">
        {{ saving ? "Guardando..." : (isEdit ? "Actualizar Estrategia" : "Crear Estrategia") }}
      </button>

      <button type="button" class="btn-secondary-custom" [routerLink]="['/records/strategies']">
        Cancelar
      </button>
    </div>

  </form>

</div>
